.square-container{
    border:1px solid;
    height: 100px;
    width:100px;
    text-align: center;
}

span {
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}